<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bünyamin</title>
    {% block head %} {% endblock %}
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/CodeFlask.js/1.2.1/codeflask.min.js" integrity="sha512-xm2A+L5LjzgmbLP3aY3avmRJ5IYm2IFPG8oQPkGgwUmXhbzUSP2yBJdYITgc9JsuEX8zBFUgOCfNZ4ieOCWbAA==" crossorigin="anonymous"></script>
    {% block body %} {% endblock %}
</body>

</html>
